
body {
    font-family: 'Roboto'; 
    text-align: center;
}

nav {
    display: flex; 
    margin: auto;
}

ul {
    color: white;
    margin:0;
    padding:0; 
    list-style-type:none;
}

li{
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}

a{
    text-decoration:none;
    color:white;
}


img {
    height: 70px;
    width: auto;
}

header {
    display: flex;
    font-family:'Roboto';
    background-color: #1f2937;
}

article {
    display: flex;
}


footer {
    display: flex;
    background-color: #1f2937;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #1f2937
}


.hero {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8
}

h2 {
    font-size: 18px;
    color: #f9faf8
}

.container {
    display: flex;
    background-color: #3882f6;
}

.Title {
    color: white; 
}

.text {
    color: white; 
}

.submit {
    color: white; 
    background-color: #3882f6;
}

p {
    color: white; 
    text-align: center;
}