
body {
    
    font-family: 'Roboto'; 
    text-align: center;
}

nav {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
    
    
}



ul {
    display: flex;
    color: white;
    margin:0;
    padding:0; 
    list-style-type:none;
    
    
}

li {
    display: flex;
    margin: 20px;
    font-size: 16px;
}

a{
    text-decoration:none;
    color:white;
}


img {
    display: flex;
    
}

#logo {
    margin-top: 10px;
    height: 40px;
    width: auto;
    border:#3882f6
}


#img1 {
    margin-top: 10px;
    height: 220px;
    width: auto;
    border-style: outset;
    border-color: #3882f6;
    border-radius: 10px;
}

#img2 {
    margin-top: 10px;
    height: 220px;
    width: auto;
    border-style: outset;
    border-color: #3882f6;
    border-radius: 10px;
}

#img3 {
    margin-top: 10px;
    height: 220px;
    width: auto;
    border-style: outset;
    border-color: #3882f6;
    border-radius: 10px;
}

header {
    
    font-family:'Roboto';
    background-color: #1f2937;
}



footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #1f2937
}


.hero {
    display: flex;
    font-size: 45px;
    justify-content: center;
    padding-left: 20px;
    font-weight: bold;
    color: #f9faf8
}

.title1 {
    display: flex;
    flex-direction: column;
}

h1 {
    width: auto;
}

h2 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #f9faf8

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3882f6;
    width: auto;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    
}

.Title {
    color: white; 
}

.text {
    color: white; 
}



p {
    color: white; 
    text-align: center;
}


form{
    display: flex;
}




.form-item {
    display: flex;
    align-items: flex-end;
}

.signupbutton{
    display: flex;
    justify-content: center;
}


button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
}

article {
    display: flex;
    flex-direction: column;
}

.pictures {
  display: flex;
  
  
  
}

.pics {
    display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.Title {
    display:flex;
    justify-content: center;
    padding-top: 20px;
}

.text {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.secondsignupbutton {
    display: flex;
    justify-content: center;
    width:auto;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 50%;
    
}

